* {
  list-style: none;
}

a{
  text-decoration: none;
}

body {
  background-color: white;
}

.main-contenedor {
  width: 100%;
  background-image: url(../../../public/img/verdon-hojas.webp);
  background-size: cover;
}
