.card-secondary {

  .card-secondary-title {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: black;
    font-family: "Yaldevi", sans-serif;
    font-size: 24px;
    font-weight: 600;
  }

  .card-secondary-contenedor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: auto;

    .card-secondary-map {
      background-color: white;
      border-radius: 12px;
      width: 160px;
      // sujeto a cambio
      // "description": "Tu nueva forma de cultivar y sus partes (DWC completos, clonadores, canastas, sistemas de oxigenación y más)",
      // height: 240px;
      height: 250px;
      // sujeto a cambio
      padding-left: 16px;
      padding-right: 16px;
      margin: auto;
      margin-bottom: 14px;
      box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
      position: relative;

      .card-secondary-map-titleImg {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;

        span {
          color: black;
          font-family: "Yaldevi", sans-serif;
          font-size: 14px;
          font-weight: 600;
        }

        .div-img-secondary {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            height: 26px;
            width: auto;
          }
        }
      }

      .card-secondary-map-description {
        p {
          color: black;
          font-family: "Yaldevi", sans-serif;
          font-size: 14px;
          font-weight: 400;
        }
      }

      .card-secondary-map-button-contenedor {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 84%;

        .card-secondary-map-button {
          position: relative;
          left: 2.9%;

          div {
            display: flex;
            justify-content: center;
            border-radius: 30px;
            width: 120px;
            height: 25px;
            background-color: #5c9348;
            box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);

            p {
              color: white;
              font-family: "Yaldevi", sans-serif;
              font-size: 14px;
              font-weight: 600;
            }
            // a {
            //   position: relative;
            //   top: 1.1px;
            //   color: white;
            //   font-family: "Yaldevi", sans-serif;
            //   font-size: 14px;
            //   font-weight: 600;
            // }
          }
        }
      }
    }
  }
}

@media (min-width: 319px) and (max-width: 359px) {
  .card-secondary {
    .card-secondary-title {
      font-size: 23px;
    }

    .card-secondary-contenedor {

      .card-secondary-map {
        width: 142.4px;
        height: 222.5px;
        padding-left: 14.24px;
        padding-right: 14.24px;
        margin-bottom: 12.46px;

        .card-secondary-map-titleImg {
          margin-top: 7.12px;

          span {
            font-size: 12.46px;
          }

          .div-img-secondary {
            img {
              height: 23.14px;
            }
          }
        }

        .card-secondary-map-description {
          p {
            font-size: 12.46px;
          }
        }

        .card-secondary-map-button-contenedor {
          .card-secondary-map-button {
            div {
              width: 106.8px;
              height: 22.25px;

              p {
                font-size: 12.46px;
                top: 1.335px;
              }
              // a {
              //   font-size: 12.46px;
              //   top: 1.335px;
              // }
            }
          }
        }
      }
    }
  }
}