.section-footer {
  width: 100%;
  background-color: white;
  height: 720px;

  .footer-contenedor {
    display: flex;
    justify-content: space-between;

    img {
      width: 374px;
      height: 720px;
    }

    .contenedor-footer-info {

      .contenedor-footer-info-texto {
        margin: auto;
        margin-top: 48%;

        p {
          text-decoration: none;
          color: black;
          font-weight: 600;
          font-family: 'Yaldevi', sans-serif;
          font-size: 36px;
          height: 47px;
          display: flex;
          justify-content: center;
        }
      }

      .boton-wsp {
        background-color: #5C9348;
        border-radius: 40px;
        width: 396px;
        height: 94px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 12%;
        transition: background-color 0.4s ease;

        a {
          font-size: 32px;
          font-family: 'Yaldevi', sans-serif;
          font-weight: 500;
          text-decoration: none;
          color: white;
        }

        &:hover {
          background-color: #094524;
        }
      }

      .img-logo-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 2%;

        img {
          width: 207px;
          height: 208px;
        }
      }
    }
  }

  .display-mobile-footer{
    display: none;
  }
}

@media (min-width: 1910px) and (max-width: 2600px) {
  .section-footer {
    height: 953.76px;

    .footer-contenedor {
      img {
        width: 495.102px;
        height: 953.76px;
      }

      .contenedor-footer-info {
        .contenedor-footer-info-texto {
          p {
            font-size: 47.6488px;
            height: 62.271px;
          }
        }

        .boton-wsp {
          border-radius: 52.92px;
          width: 524.508px;
          height: 124.6822px;

          a {
            font-size: 42.2656px;
          }
        }

        .img-logo-footer {
          img {
            width: 273.86px;
            height: 275.18px;
          }
        }
      }
    }
  }
}

@media (min-width: 1180px) and (max-width: 1439px) {
  .section-footer {
    height: 589.614px;

    .footer-contenedor {
      img {
        width: 305.998px;
        height: 589.614px;
      }

      .contenedor-footer-info {
        .contenedor-footer-info-texto {
          p {
            font-size: 29.477px;
            height: 38.538px;
          }
        }

        .boton-wsp {
          border-radius: 32.777px;
          width: 324.369px;
          height: 77.172px;

          a {
            font-size: 26.138px;
          }
        }

        .img-logo-footer {
          img {
            width: 169.35px;
            height: 170.121px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1179px) {
  .section-footer {
    height: 495.48456px;

    .footer-contenedor {
      img {
        width: 256.918px;
        height: 495.484px;
      }

      .contenedor-footer-info {
        .contenedor-footer-info-texto {
          p {
            font-size: 24.763px;
            height: 32.314px;
          }
        }

        .boton-wsp {
          border-radius: 27.575px;
          width: 272.378px;
          height: 64.762px;

          a {
            font-size: 21.937px;
          }
        }

        .img-logo-footer {
          img {
            width: 142.194px;
            height: 142.883px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .section-footer {
    height: 383.945px;

    .footer-contenedor {
      img {
        width: 199.017px;
        height: 383.945px;
      }

      .contenedor-footer-info {
        .contenedor-footer-info-texto {
          p {
            font-size: 19.128px;
            height: 25.116px;
          }
        }

        .boton-wsp {
          border-radius: 21.368px;
          width: 251.309px;
          height: 50.206px;

          a {
            font-size: 16.082px;
          }
        }

        .img-logo-footer {
          img {
            width: 110.256px;
            height: 110.542px;
          }
        }
      }
    }
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .section-footer {
    height: 239.965px;

    .footer-contenedor {
      img {
        width: 124.386px;
        height: 239.965px;

      }

      .contenedor-footer-info {
        .contenedor-footer-info-texto {
          p {
            font-size: 11.955px;
            height: 15.697px;

          }
        }

        .boton-wsp {
          border-radius: 13.355px;
          width: 157.068px;
          height: 31.379px;

          a {
            font-size: 10.051px;
          }
        }

        .img-logo-footer {
          img {
            width: 68.910px;
            height: 69.088px;
          }
        }
      }
    }
  }
}

@media (max-width: 479px) {
  .section-footer{    
    .footer-contenedor{
      display: none;
    }

    .display-mobile-footer{
      display: block;
    }
  }

}
